:root {
  --white: #fff;
  --primary-color: #edf1d6;
  --secondary-color: #9dc08b;
  --third-color: #609966;
  --fourth-color: #40513b;
  --font-title: "Roboto", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background: #f9f7f7;
  font-family: var(--font-title);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
}

nav,
footer {
  padding: 20px;
  background: blue;
}

.cartMainContainer {
  height: 88vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid red;
}

.itemsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  overflow: auto;
  padding: 2px;
}

.cardProduct {
  background: var(--white);
  width: 86%;
  box-shadow: 1.5px 1.5px 1.5px hsl(0, 0%, 0%, 0.2),
    -1.5px 1.5px 1.5px hsl(0, 0%, 0%, 0.2);
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  padding: 6px;
}

figure {
  width: 100%;
}

img {
  width: 100%;
  object-fit: contain;
  height: 100px;
}

h1 {
  align-self: start;
  padding: 2%;
  color: var(--third-color);
  font-size: 1.4rem;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.cardDescription h2 {
  color: var(--secondary-color);
  font-size: 1rem;
}

.cardDescription p {
  color: var(--third-color);
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.productQty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productQty p {
  background: var(--primary-color);
  font-size: 1.2rem;
  color: var(--third-color);
  font-weight: 600;
  width: 28px;
}

.sub,
.add {
  background: var(--secondary-color);
  border: none;
  color: var(--white);
  font-size: 1rem;
  width: 28px;
  height: 28px;
}

.checkoutContainer {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.checkoutCard {
  background: var(--white);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6em;
}

.checkoutText {
  display: flex;
  justify-content: space-between;
  width: 88%;
  align-items: flex-start;
  font-size: 1.125rem;
  padding-top: 10px;
  color: var(--third-color);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.btnContainer button {
  background: var(--secondary-color);
  color: var(--white);
  padding: 1em 7em;
  border: none;
  border-radius: 6px;
  font-family: var(--font-title);
  font-size: 1.125rem;
  font-weight: 600;
}

@media (max-width: 330px) {
  .checkoutContainer button {
    padding: 1em 3em;
  }
}

@media (min-width: 700px) {
  .cardProduct {
    width: 80%;
  }
  .checkoutContainer button {
    padding: 1em 8em;
  }
}

@media (min-width: 900px) {
  .cartMainContainer {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 60% 40%;
    margin-top: 6%;
    height: 82vh;
  }

  .checkoutContainer button {
    padding: 1em 7.8em;
  }

  .cardProduct {
    width: 80%;
  }
  .productQty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .productQty p {
    height: 28px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productQty button {
    width: 30px;
    height: 30px;
    font-size: 1.4rem;
  }
}
